@font-face {
    font-family: 'Roboto';
    src: url('/path-to-your-font/roboto.woff2') format('woff2'),
         url('/path-to-your-font/roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

@tailwind base;
@tailwind components;
@tailwind utilities;
